@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita&display=swap');

.cabecalho{
    background-color: #1D3557;
    width: 100%;
    padding-left: 4%;
    padding-right: 4%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;  
    box-sizing: border-box;
}

.cabecalho > h1{
    color: #A8DADC;
    font-size: clamp(3rem, 5vw, 4rem);
    font-family: 'Zeyada';
    line-height: auto;
}

.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
}

ul > *{
    color: #F1FAEE;
    font-family: 'Sansita', sans-serif;;
    margin-left: 5px;
    margin-right: 5px;
    font-size: clamp(1rem, 2vw, 1.5rem);
}

main{
    width: 100vw;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    padding-left: 4%;
    padding-right: 4%;
    background-color: #457B9D;
    box-sizing: border-box;
}

main > div{
    margin-top: 15px;
}

main >div:first-child{
    margin-top: 45px;
}

h2{
    color: #F1FAEE;
    font-size: clamp(1.5rem, 3vw, 2rem);
    margin-bottom: 30px;
    font-family: 'Sansita', sans-serif;;
}

.filtro > input{
    width: 300px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
}

.filtro-botoes{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    box-sizing: border-box;
}

.filtro-botoes > button{
    color: #F1FAEE;
    align-items: center;
    background-color: #1D3557;
    min-width: 80px;
    height: 35px;
    border: 1px solid transparent;
    margin-right: 15px;
}

.cardapio{
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cardapio > img{
    width: 30%;
    min-width: 300px;
    margin-bottom: 50px;
}

.blog{
    width: 100%;
    padding-left: 4%;
    padding-right: 4%;
    box-sizing: border-box;
}

.blog > h2{
    color: #1D3557;
    margin-top: 30px;
}

.blog-images{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#blog-principal{
    width: 65%;
}

.blog-secundario{
    width: 35%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: end;
}

.blog-secundario > img{
    width: 90%;
}

.blog{
    background-color: #F1FAEE;
    margin-bottom: 30px;
}

footer{
    background-color: #1D3557;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 50px;
}

.footer-sections{
    width: 20%;
}

.footer-sections > h2{
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    font-size: clamp(1rem, 3vw, 2rem);
}

.footer-sections:nth-child(2){
    text-align: center;
}

.footer-sections > ul > li{
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 15px;
}

.icons{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    margin: 0px !important;
}

p{
    color: #F1FAEE;
    font-family: 'Sansita', sans-serif;;
}

.footer-sections > input{
    width: 90%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
}

@media (max-width: 500px)
{
    .cabecalho{
        flex-direction: column;
        align-items: center;
    }

    .menu{
        flex-direction: column;
        margin-left: 0;
    }
    .menu > *{
        margin-bottom: 10px;
        margin-top: 10px;
    }

    main >div:first-child{
        margin-top: 25px;
    }

    .filtro > h2{
        text-align: center;
    }

    .filtro > input{
        width: 90%;
        padding: 10px;
        border: 2px solid #ccc;
        border-radius: 4px;
    }

    .filtro-botoes{
        flex-direction: column;
        align-items: center;
    }

    .filtro-botoes > button{
        margin-bottom: 15px;
        margin-right: 0px;
        padding: 0px;
        text-align: center;
        width: 40%;
    }
    .cardapio > img{
        width: 100%;
        min-width: 0px;
    }
    #blog-principal{
        width: 345px;
        height: 320px;
    }
}

@media ((min-width: 500px) and  (max-width: 760px))
{
    .cardapio > img{
        width: 79vw;
    }
}

@media(max-width: 760px){
    .blog-images{
        flex-direction: column;
        align-items: center;
    }
    #blog-principal{
        width: 79vw;
        height: 70vw;
    }

    .blog-secundario{
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }

    .blog-secundario > img{
        width: 79vw;
    }
    .blog > h2{
        text-align: center;
    }

    footer{
        flex-direction: column;
    }

    .footer-sections{
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }

    .footer-sections > *{
        align-items: center;
    }

    .footer-sections > ul > *{
        text-align: center;
        font-size: clamp(1rem, 2vw, 1.5rem);
    }

    .icons{
        display: block;
        align-items: center;
    }

    .icons > *{
        margin-left: 20px;
        margin-right: 20px;
    }
}


@media ((min-width: 500px) and  (max-width: 980px))
{
    .cardapio{
        justify-content: space-around;
    }
}